*{
    font-family: 'Red Hat Display', sans-serif;
}
body{
    margin:0;
    padding:0;
    
  
}
.without{
    position:absolute;
}
header{
    background-color: #212121;
}
.header-absolute{
    position:absolute;
    width:100%;
}
nav {
    position:fixed;
    background-color:rgba(33,33,33,0.7);
    z-index:900;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width:100%;
    height:80px;
    padding:0px 40px;
}
.menu {
    margin:0;
}
.letterZ0,.letterZ1{
    font-family: 'Updock', cursive;
    position:relative;
    font-size:3.7em;
    color:#E1E1E1;
    
}

.active{
    color:#0DCB9B !important;
    font-weight: 700;
}


li {
display:inline-block;
padding:0px 30px;
font-size:1.1em;
}
a {
    text-decoration: none;
    color:#E1E1E1;
}
.letterZ{
    width:100px;

}
.letterZ0{
    top:26px;
    left:38px;
}
.letterZ1{
    top:-48px;
    left:45px;
}
.Me,.home-introduction{
    margin-top:60px;
}
.case-studies{
    height:30px;
    background-color:#00ffbb;
    padding-top:16px;
    padding-bottom: 10px;
    border-radius:30px;
    font-size:1.1em;
}

/* home Section*/

.home-section{
    display:flex;
    justify-content: space-around;
    padding:40px 200px ;
}

h3{
    color:white;
}

.job{
    color:#00ffbb;
    font-size:1.4em;
    margin:20px 0px;
}
.first-name, .last-name{
    font-size:5em;
    color:white
}
.home-introduction p{
    margin-top:20px;
    color:white
}
.hire{
    background-color:#00ffbb;
    text-align:center;
    padding:20px;
    height:20px;
    width:160px;
    border-radius:30px;
    color:black;
}

.Me img {
    width:100%;
    height:500px;

}


/* About Section */

main {
    background-color:#262626;
}
.about-section{
    padding-top:10px;
    padding-bottom:40px;
}
.explicit-flex{
    display:flex;
    padding:50px;
    justify-content:space-between;
}

.pointiers{
    position:relative;
}
.pointiers-absolute{
    position:absolute;
    top:50px;
}
.explicit-introduction-border{
    position:relative;
    border-top:8px solid #00ffbb;
    border-left:8px solid #00ffbb;
    margin-left:100px;
    height:300px;
    width:40%;
    padding-top:10px;
    padding-left:10px;
}
.explicit-introduction{
    position:absolute;
}
.explicit-introduction img{
    width:105%;
    height:120%;
}
.about{
    width:45%;
    color:white
}
.about-who-flex{
    display:flex;
}
.about-who {
    color:#00ffbb;
}
.about-who-line{
    display: inline-block;
    background-color:#00ffbb;
    width:70px;
    height:4px;
    margin-left:10px;
    margin-top:10px;
}
.downloadcv{
    padding:20px;
    background-color: #00ffbb;
    text-align:center;
    width:150px;
    color:black;
    border-radius:30px;
}
.about-who-flex{
    text-align:center;
}
.services-section{
    color:white;
    padding-bottom:100px;
}
.services-who{
    color:#00ffbb;
}
.services-who-flex{
    display:flex;
    justify-content: center;
}
.services-who-line{
    display: inline-block;
    background-color:#00ffbb;
    width:70px;
    height:4px;
    margin-left:10px;
    margin-top:10px;
}
.myservices-title{

    text-align:center;
    margin-bottom:40px;
    color:white;
}

.services-branch{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.item{
    width:25%;
    box-shadow: rgba(172, 172, 172, 0.2) 0px 2px 8px 0px;
    padding:10px;
    border-radius: 10px;
    box-sizing: border-box;
}
.item-branch{
    font-size: 1.5em;
}
.item:nth-child(1){
    border-bottom:10px solid #00AEFF;
}
.item:nth-child(2){
    border-bottom: 10px solid #E31F71;
}
.item:nth-child(3){
    border-bottom: 10px solid #8838B4;
}

.item:nth-child(1):hover{
    background-color: #00ffbb;
    color:#212121;
}
.item:nth-child(2):hover{
    background-color: #00ffbb;
    color:#212121;
}
.item:nth-child(3):hover{
    background-color: #00ffbb;
    color:#212121;
}
.item:nth-child(2) img{
    width:80px;
    height:80px;
}
.image-react1, .image-react2,.image-react3{
    padding:20px;
    border-radius:50%;
    width:80px;
}
.image-react1{
    background-color: #79d0fc70;   
}
.image-react2{
    background-color: #e679fc70;
}
.image-react3{
    background-color: #4d2b5f70;
}




/*services 1 */
.services-explicit{
    padding-top: 100px;
    padding-bottom: 100px;
}

.pointiers1-absolute{
    position:absolute;
    top:-80px;
    right:0px;
}

.myworkprocess-flex{
    display:flex;
    justify-content: space-around;
    padding-left:60px;
    padding-right:60px;
}
.item-process{
    color:white;
    padding:20px;
    box-sizing: border-box;
    width:15%;
    height:200px;
    box-shadow: rgba(226, 226, 226, 0.16) 0px 1px 4px;
    border-radius:5%;
}
.item-process-title{
    font-size:1.5em;
}

.item-process:hover{
    color:black;
    background-color:#00ffbb;
}
.portfolio-section{
    height:900px;
}
.portfolio1-flex{
    display:flex;
    justify-content: center;
    padding:40px;
    
}
.desktop-relative{
    position:relative;
    background-image:url("../images/desktop1.PNG");
    background-size: cover;
    width:300px;
    height:500px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-sizing: border-box;
    border-radius:10px;
}
.fishandchips-relative{

    background-image:url("../images/fishandchips.PNG");
    background-size: cover;
    width:300px;
    height:500px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-sizing: border-box;
    border-radius:10px;
}
.challengeMaquette-relative{
    background-image:url("../images/challengeMaquette.PNG");
    background-size: cover;
    width:300px;
    height:500px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-sizing: border-box;
    border-radius:10px;
    margin:0px 20px;
}
.challengeMaquette{
    margin:0px 33px;
}

.desktop-absolute{
    position:absolute;
    right:0;
    margin-right:0px;
    height:0px;
    width:0px;
    border-left: 100px solid transparent;
    border-top: 165px solid #2868A1;
}

.desktop-card{
    position:absolute;
    
    opacity:0;
    left:0px;
    top:0px;
    background-color:#262626;
    height:500px;
    width:300px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.desktop-card-verso{
    position:absolute;
    text-align:center;
    top:80px;
    padding:40px;
    left:0px;
    
} 
.desktop-card-text{
    color:white;
}
.view-design-gradient{
    background-image: linear-gradient(to right,#3764A5, #904CBB);
    text-align:center;
    height:50px;
    width:200px;
    box-sizing: border-box;
    padding:14px;
    border-radius:30px;
    margin-top:40px;
}
.desktop-absolute-bottom{
    position:absolute;
    bottom:0px;
    width:0px;
    height:0px;
    border-top:165px solid transparent;
    border-left:100px solid #a446c1;
}




/*CONTACT SECTION */

.contactme{
    padding-top:100px;
    padding-bottom:200px;
}
.contact-description{
    color:white;
    text-align:center;
    font-size:1.1em;
}
.localisation{
    display:flex;
    align-items: center;
    margin:40px 0px;
}
.contact-phone{
    background-color:#00ffbb;
    text-align:center;
    padding:20px;
    border-radius:50%;
    width:20px;
    height:20px;
}
.hiho{
    margin-left:20px;
    color: white;
}
.coordonées{
    padding:100px;
}
.contactme-flex{
    display:flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.form-contact{
    margin-top:140px;
}
.styled-input{
    width:700px;
    padding:20px;
}
.first-input1{
    background-color:#262626;
    width:89%;
    height:40px;
    border-radius:30px;
    padding-left:30px;
    border : 2px solid white;
    font-size:1.2em;
    color:white;
    
}

.styled-input{
    display:flex;
    justify-content: space-between;
    padding-left:0px;
} 

.styled-input .second-input input, .styled-input .third-input input{
    background-color:#262626;
    width:100%;
    height:40px;
    border-radius:30px;
    padding-left:30px;
    border : 2px solid white;
    color:white;
    font-size:1.2em;
}

.forth-input{
    background-color:#262626;
    width:90%;
    height:200px;
    border-radius:30px;
    /* margin-right:20px; */
    padding-left:20px;
    border : 2px solid white;
    color:white;
    font-size:1.2em;

}
.second-input{
width:40%;
}
.third-input{
    width:40%;
    margin-right: 60px;
}

.fifth-input{
    margin-top:20px;
    padding:20px;
    border: 2px solid white;
    border:0;
    border-radius:30px;
    background-color: #00ffbb;
    width:20%;
    text-align:center;
    color:black;
}

::placeholder{
    color:white;
}

.footer-flex{
    background-color: #212121;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    color:white;
}
.ICONS{
    color:white;
    padding:10px;
}



/*Animation */


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100%;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}