*{
    font-family: 'Red Hat Display', sans-serif;
}
body{
    margin:0;
    padding:0;
}
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(65, 65, 65);
    box-sizing: border-box;
    height:80px;
    padding:0px 40px;
}
.menu {
    margin:0;
}
.letterZ0,.letterZ1{
    font-family: 'Updock', cursive;
    position:relative;
    font-size:3.7em;
    color:#E1E1E1;
    
}
li {
display:inline-block;
padding:0px 30px;
font-size:1.1em;
}
a {
    text-decoration: none;
    color:#E1E1E1;
}
.letterZ{
    width:100px;

}
.letterZ0{
    top:26px;
    left:38px;
}
.letterZ1{
    top:-48px;
    left:45px;
}
.case-studies{
    height:30px;
    background-color:#00ffbb;
    padding-top:16px;
    padding-bottom: 10px;
    border-radius:30px;
    font-size:1.1em;
}